
<div class="row-fluid">
    <div id="footer" style="color:aquamarine" class="span12"> 2021 &copy;Trade System. Brought to you by <a href="http://themedesigner.in" style="color:gold">Exceed It Systems</a> </div>
</div>
