<li class="parent">
    <a data-toggle="collapse" href="#sub-item-1">
        <em class="fa fa-navicon">&nbsp;</em> LicenseInspection <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><i class="fa fa-plus"></i></span>
    </a>
    <ul class="children collapse" id="sub-item-1">
        <li>

            <a class="" href="@Url.Action("Index", "SubCity", new { area="DailyMarket"})">
                <span class="fa fa-arrow-right">&nbsp;</span>Sub City
            </a>
        </li>
        <!--sub sub menu -->
        <li class="sub-sub-menu">
            <a data-toggle="collapse" href="#sub-sub-item-1">
                <em class="fa fa-navicon">&nbsp;</em>Setting<span data-toggle="collapse" href="#sub-sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
            </a>
            <ul class="children collapse" id="sub-sub-item-1">
                <li>
                    <a class="fa fa-arrow-right" href="#">
                        <span class="">&nbsp;</span> Sub sub  Item 3
                    </a>
                </li>
                <li>
                    <a class="fa fa-arrow-right" href="#">
                        <span class="">&nbsp;</span> Sub sub  Item 3
                    </a>
                </li>
            </ul>
        </li>
        <!--End sub sub menu -->
        <li>
            <a class="" href="#">
                <span class="fa fa-arrow-right">&nbsp;</span> Sub Item 3
            </a>
        </li>
    </ul>
</li>
